<a href="https://colab.research.google.com/github/MohammedFawazAli/AIML-2025_B15/blob/main/2303A51955_25_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/MohammedFawazAli/AIML-2025_B15/main/buddymove_holidayiq.csv')
df.head()

  User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

In [12]:
south_india_means = df[['Sports', 'Religious', 'Nature', 'Theatre', 'Shopping', 'Picnic']].mean()

top_5_attributes = south_india_means.nlargest(5)

top_5_attributes

Nature       31005
Picnic       29980
Theatre      28978
Shopping     28047
Religious    27335
dtype: int64

In [13]:
most_liked_attribute = south_india_means.idxmax()

print(f"The attribute with the most liked travel spots is: {most_liked_attribute}")

The attribute with the most liked travel spots is: Nature

In [14]:
max_attribute = south_india_means.idxmax()
min_attribute = south_india_means.idxmin()

print(f"The attribute with the maximum value is: {max_attribute}")
print(f"The attribute with the minimum value is: {min_attribute}")

The attribute with the maximum value is: Nature
The attribute with the minimum value is: Sports

In [31]:
beaches_role = df['Nature'].sum()
theatres_role = df['Theatre'].sum()
malls_role = df['Shopping'].sum()
parks_role = df['Picnic'].sum()

print(f"Beaches' Role in South India Tourism: {beaches_role}")
print(f"Theatres' Role in South India Tourism: {theatres_role}")
print(f"Malls' Role in South India Tourism: {malls_role}")
print(f"Parks' Role in South India Tourism: {parks_role}")

Beaches' Role in South India Tourism: 31005
Theatres' Role in South India Tourism: 28978
Malls' Role in South India Tourism: 28047
Parks' Role in South India Tourism: 29980

In [15]:
sports_attributes = df['Sports'].sum()
print(f"\nThe total number of attributes for sports in South India is: {sports_attributes}")

The total number of attributes for sports in South India is: 2985

In [26]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

location_column_name = 'Picnic'

features = df[['Sports', 'Religious', 'Nature', 'Theatre', 'Shopping', 'Picnic']]

scaler = StandardScaler()
features_scaled = scaler.fit_transform(features)

kmeans = KMeans(n_clusters=3, random_state=42)
df['Cluster'] = kmeans.fit_predict(features_scaled)

print(df[[location_column_name, 'Cluster']].head())

   Picnic  Cluster
0      95        2
1      68        2
2      75        2
3      61        2
4      86        2

In [30]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

X = df[['Sports', 'Religious', 'Nature', 'Theatre', 'Shopping', 'Picnic']]
y = df['Nature']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train)

print(f"Model Accuracy: {clf.score(X_test, y_test)}")

Model Accuracy: 0.34